.rdw-editor-main {
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    height: 150px !important;
}

.public-DraftStyleDefault-block {
    margin: 0;
}

.rdw-editor-toolbar {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.rdw-editor-main:focus>div {
    outline: none;
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

.data-table-news>div:nth-child(3)>div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

.data-table-news>div:nth-child(3)>div:nth-child(2)>div:nth-child(1)>ul:nth-child(1) {
    cursor: pointer;
}

.data-table-news>div:nth-child(2)>div>div>table>thead:nth-child(1)>tr>th:nth-child(1) {
    text-align: center;
    width: 8%;
}

.data-table-news>div:nth-child(2)>div>div>table>thead:nth-child(1)>tr>th:nth-child(2) {
    text-align: center;
    width: 30%;
}

.data-table-news>div:nth-child(2)>div>div>table>thead:nth-child(1)>tr>th:nth-child(3) {
    text-align: center;
    width: 60%;
}

.data-table-news>div:nth-child(2)>div>div>table>thead {
    font-size: 1rem;
}

.data-table-news>div:nth-child(3)>div:nth-child(1) {
    visibility: hidden;
}

.data-table-news>div:nth-child(1)>div:nth-child(1) {
    visibility: hidden;
}

.data-table-news>div:nth-child(2)>div>div>table>tbody>tr>td:nth-child(1) {
    text-align: center;
}

.data-table-news>div:nth-child(2)>div>div>table>tbody>tr>td:nth-child(3)>p {
    margin: 0;
}

.styleTabNews {
    background: #C7D36F;
    backdrop-filter: blur(5px);
    border-radius: 0 0 8px 8px;
}

.data-table-news>div:nth-child(3)>div:nth-child(2)>div>ul>li.page-item.active .page-link {
    z-index: 3;
    color: black;
    /* background-image: linear-gradient(rgb(150,150,150), #F1F1F1, #F1F1F1, rgb(150,150,150)); */
    background: rgba(255, 255, 255, 0.6);
    border-color: rgb(150, 150, 150);
}

.data-table-news>div:nth-child(3)>div:nth-child(2) {
    color: #212529;
}


.rdw-editor-main {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: .25rem;

}

.editTabsNews>a {
    color: black;
}


/* .editTabsNews>a:nth-child(1).nav-link.active {
    color: #212529;
    background-color: #C7D36F;
    border-color: #C7D36F;
} */

.editTabsNews>a.nav-link.active {
    color: #212529;
    background-color: #C7D36F;
    border-color: #C7D36F;
}


.editTabsNews>a:hover {
    color: #212529;
    background-color: #FCF9C6;
}

.editTabsNews.nav-tabs .nav-link:focus {
    border-color: #C7D36F;
}

.editTabsNews.nav-tabs .nav-link:hover {
    border-color: #FCF9C6;
}



.editTabsNews>a.nav-link.active {
    color: black;
    /* background-color: rgb(150,150,150);
    border-color: rgb(150,150,150); */
    background-color: #C7D36F;
    border-color: #C7D36F;
    backdrop-filter: blur(5px);
}