.bg-header {
    background: #C7D36F;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    border: 1px solid #C7D36F;
    margin-bottom: 2%;
    height: 5vh;
    align-items: center;
    display: flex;
    padding: 1.25rem;
}